a > div > img._1dwExqTGJH2jnA-MYGkEL- {
  object-fit: contain !important;
  height: 100% !important;
}

li > figure > a > div {
  height: 100% !important;
}

div._3b8u2OJXaSDdBWoRB7zUoK {
  display: none !important;
}
